{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
   <div class="pull-middle">
      <input  type="checkbox" checked data-toggle="toggle" data-on="<i class='fa fa-thumbs-up'></i> Available" data-off="<i class='fa fa-thumbs-down'></i> Busy" data-onstyle="success" data-offstyle="danger" data-width="100"> 
   </div>
   <div class="span12">
      <div class="panel with-nav-tabs panel-primary">
         <div class="panel-heading">
            <ul class="nav nav-tabs">
               <li class="active"><a href="#tab1primary" data-toggle="tab">Complete</a>
               </li>
               <li><a href="#tab2primary" data-toggle="tab">Show All</a>
               </li>
            </ul>
         </div>
         <div class="panel-body">
            <div class="tab-content">
               <div class="tab-pane fade in active" id="tab1primary">
                  <div class="container-fluid">
                     <div class="widget-box">
                        <div class="widget-title">
                           <span class="icon"><i class="fa fa-file-text-o"></i></span>
                           <h5>All Files</h5>
                        </div>
                        <div class="widget-content nopadding">
                           <table class="table table-bordered data-table">
                              <thead>
                                 <tr>
                                                <th>File ID</th>
                                                <th>Date</th>
                                                <th>Client</th>
                                                <th>Problem Description</th>
                                                <th>Add (Diagnosis, Solution ..)</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 {% for fiche in fiches %}
                                 <tr>
                                    <td>{{ fiche.id }}</td>
                                    <td>{{ fiche.datefiche|date('d/m/Y') }}</td>
                                    <td>{{ fiche.Client.prenomprop }}</td>
                                    <td>{{ fiche.prestation }}</td>
                                    <td>
                                         <a class="btn btn-primary" href="{{ path('fiche_edit', { 'id': fiche.id }) }}" role="button"><i class="fa fa-pencil"></i></a></td>
                                       <!--    <li>
                                             <a href="{{ path('fiche_show', { 'id': fiche.id }) }}">show</a>
                                          </li>
                                          <li>
                                             <a href="{{ path('fiche_edit', { 'id': fiche.id }) }}">edit</a>
                                          </li>
                                       </ul> -->
                                    </td>
                                 </tr>
                                 {% endfor %}
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="tab-pane fade" id="tab2primary">
                  <div class="container-fluid">
                     <div class="widget-box">
                        <div class="widget-title">
                           <span class="icon"><i class="fa fa-file-text-o"></i></span>
                           <h5>All Files</h5>
                        </div>
                        <div class="widget-content nopadding">
                           <table class="table table-bordered data-table">
                              <thead>
                                 <tr>
                                        <th>Date</th>
                                        <th>Client</th>
                                        <th>Worker</th>
                                        <th>Problem Description</th>
                                        <th>Diagnosis</th>
                                        <th>Solution</th>
                                        <th>Repair Type</th>
                                        <th>Cost</th>
                                        <th>Actions</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 {% for fiche in fiches %}
                                 <tr>
                                    <td>{{ fiche.datefiche|date('d/m/Y') }}</td>
                                    <td>{{ fiche.Client.prenomprop }}</td>
                                    <td>{{ fiche.Emp.prenomemp }}</td>
                                    <td>{{ fiche.prestation }}</td>                                  
                                    <td>{{ fiche.diagfiche }}</td>
                                    <td>{{ fiche.solutionfiche }}</td>
                                    <td>{{ fiche.typereparation }}</td>
                                    <td>NEEDS FIX</td>
                                    <td>
                                       <a class="btn btn-warning" href="{{ path('fiche_edit', { 'id': fiche.id }) }}">Edit</a>
                                       <!-- <ul>
                                          <li>
                                             <a href="{{ path('fiche_show', { 'id': fiche.id }) }}">show</a>
                                          </li>
                                          <li>
                                             <a href="{{ path('fiche_edit', { 'id': fiche.id }) }}">edit</a>
                                          </li> -->
                                       </ul>
                                    </td>
                                 </tr>
                                 {% endfor %}
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}