{% extends 'base.html.twig' %}
{% block body %}
{#  
<h1>Fiche creation</h1>
{{ form_start(form) }}
{{ form_widget(form) }}
<input type="submit" value="Create" />
{{ form_end(form) }}
<ul>
   <li>
      <a href="{{ path('fiche_index') }}">Back to the list</a>
   </li>
</ul>
#}
<div class="row-fluid centre">
   <div class="span10">
      <div class="widget-box">
         <div class="widget-title">
            <span class="icon"> <i class="fa fa-file-o"></i> </span>
            <h5>New File</h5>
         </div>
         <div class="widget-content nopadding">
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            <div class="control-group" disabled>
               <label class="control-label">Create date :</label>
               <div class="controls">
                  {{ form_widget(form.datefiche, {'attr': {'class': 'span4', 'style': 'display: inline-flex;', 'readonly': 'true' }}) }}
                  {#   {{ form_widget(form.datefiche, {'attr': {'class': 'span6' }}) }} #}
                  {# <input type="text" class="span11" readonly placeholder="01/01/2000" /> #}
               </div>
            </div>
            <div class="control-group">
               <label class="control-label">Problem description :</label>
               <div class="controls">
                  {{ form_widget(form.prestation, {'attr': {'class': 'span6'}}) }}
                  {#  <textarea class="span11" placeholder="Describe the client's problem"> </textarea> #}
               </div>
               <style type="text/css">
                  #garagebundle_fiche_datefiche_date, #garagebundle_fiche_datefiche_time{
                  display: inline-flex;
                  margin-left: 20px;
                  }
               </style>
            </div>
            <div class="control-group">
               <label class="control-label">Client Account :</label>
               <div class="controls">
                  {{ form_widget(form.Client, {'attr': {'class': 'span6'}}) }}<br> 
               </div>
            </div>
            <div class="control-group">
               <label class="control-label">Worker Associated :</label>
               <div class="controls">
                  {{ form_widget(form.Emp, {'attr': {'class': 'span6'}}) }}<br> 
               </div>
            </div>
            <div class="control-group">
               <label class="control-label">Diagnosis : </label>
               <div class="controls">
                  {{ form_widget(form.diagfiche, {'attr': {'class': 'span6'}}) }}<br> 
               </div>
            </div>
            <div class="control-group">
               <label class="control-label">Solution : </label>
               <div class="controls">
                  {{ form_widget(form.solutionfiche, {'attr': {'class': 'span6'}}) }}<br> 
               </div>
            </div>
            <div class="control-group">
               <label class="control-label">Repair Type : </label>
               <div class="controls">
                  {{ form_widget(form.typereparation, {'attr': {'class': 'span6'}}) }}<br> 
               </div>
            </div>
            <div class="control-group">
               <label for="checkboxes" class="control-label">Replacement Part Necessity : </label>
               <div class="controls">
                  <div data-toggle="buttons-radio" class="btn-group">
                     <button id="partAdd" class="btn btn-secondary" type="button">Necessary</button>
                     <button id="partDel" class="btn btn-secondary active" type="button">Unnecessary</button>
                  </div>
               </div>
            </div>
            <div id="parts" class="control-group" style="display: none">
               <label class="control-label">Select PART</label>
               <div class="controls">
                  {{ form_widget(form.Pieces, {'attr': {'class': 'span6'}}) }}<br><br><br>
               </div>
            </div>
         </div>
         <div class="form-actions">
            <center><button type="submit" class="btn btn-success">Save</button></center>
         </div>
         {{ form_end(form) }}
      </div>
   </div>
</div>
{% endblock %}