{% extends 'base.html.twig' %}

{% block body %}
  
</div>

  <div class="widget-box">
          <div class="widget-title"> <span class="icon"><i class="fa fa-id-card-o"></i></span>
            <h5>All Accounts</h5>
             <div style="padding-top: 0.2%"><a class="btn btn-info"  href="{{ path('compte_new') }}"><i class="fa fa-plus-circle"></i></a></div>
          </div>
          <div class="widget-content nopadding">
            <table class="table table-bordere data-table">
        <thead>
            <tr>
                <th>C.I.N</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Phone</th>
                  <th>Adress</th>
                  <th>Email Adress</th>
                  <th>Car Brand</th>
                  <th>Car Version</th>
                  <th>Plate License</th>
                  <th>Manage</th>
            </tr>
        </thead>
        <tbody>
        {% for compte in comptes %}
            <tr>
                 <td> {{ compte.cinprop }} </td>
                <td> {{ compte.prenomprop }} </td>
                <td> {{ compte.nomprop }} </td>
                <td> {{ compte.telprop }} </td>
                <td> {{ compte.adresseprop }} </td>
                <td> {{ compte.mailprop }}</td>
                <td>  {{ compte.modelevoit }} </td>
                <td>  {{ compte.marquevoit }} </td>
                <td>  {{ compte.immatvoit }}</td>
                <td>
                <a data-toggle="modal" data-target="#editClient{{compte.id}}" class="btn btn-warning" href="{{ path('compte_edit', { 'id': compte.id }) }}">Edit</a>
                <a data-toggle="modal" data-target="#delete{{compte.id}}" class="btn btn-danger" href="{{ path('compte_show', { 'id': compte.id }) }}">Delete</a>
                    <!-- <ul>
                        <li>
                            <a href="{{ path('compte_show', { 'id': compte.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('compte_edit', { 'id': compte.id }) }}">edit</a>
                        </li>
                    </ul> -->
                </td>
            </tr>

<div class="modal editClientModal fade" id="editClient{{compte.id}}" tabindex="-1" role="dialog" aria-labelledby="editCurrentClient">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="editCompte">Edit account</h4>
    </div>
    <div class="modal-body">
         <input type="hidden" id="id-client">
        <input type="submit" class="btn btn-success" value="Edit" />
       
    </div>
    <div class="modal-footer">
    </div>
  </div>
</div>
</div>


<div class="modal deleteClientModal fade" id="delete{{compte.id}}" tabindex="-1" role="dialog" aria-labelledby="editCurrentClient">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="deleteCompte">Delete account</h4>
    </div>
    <div class="modal-body">
       
    </div>
    <div class="modal-footer">

    </div>
  </div>
</div>



        {% endfor %}
        </tbody>
            </table>
          </div>
    </div>
{% endblock %}
